# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs and data
logs/
*.log

# Environment / secrets files (if you ever use them)
.env
*.env

# macOS metadata
.DS_Store
# Secret key files
secret key.*
*.key
